<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@@clr/ui/clr-ui-dark.min.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
