@media screen and (max-width: 576px) {
    .cgb-header-title {
        display: none;
    }    

    .cgb-header-nav {
        display: none;
    }

    .cgb-header-username {
        display: none;
    }
}

@media screen and (min-width: 576px) {
    .cgb-header-user-icon {
        display: none;
    }
}
