<div class="cgb-character-bank clr-row">
    <div class="clr-col-xl-8 clr-col-lg-10 clr-col-md-8 clr-col-sm-10 clr-col-12">
        <div class="card">
            <div style="display:flex; flex-direction:column; justify-content: center; align-content: center; align-items: center; padding: 32px;">
                <clr-icon shape="users" size="54"></clr-icon>
                <h3>No Characters</h3>
                <h4>No character data has been uploaded to this guild.</h4>
                <h4 style="text-align:center">To upload character data first install the Classic Guild Bank addon. Then run chat command /cgb and copy the generated string into the Import From Addon dialog.</h4>  
            </div>
        </div>
    </div>
</div>
