<div class="clr-row">
    <div class="card clr-col-12 clr-col-md-6 clr-col-lg-4 clr-offset-lg-4 clr-offset-md-3">
        <div class="card-header" style="display: flex; justify-content: center">
            Classic Guild Bank Password Reset
        </div>
        <form clrForm [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="clr-row clr-justify-content-center">
                <label class="clr-col-12 clr-col-lg-3 clr-control-label">User Name</label>
                <span class="clr-col-12 clr-col-lg-5">{{username.value}}</span>
            </div>
                
            <clr-password-container class="clr-justify-content-center">
                <label class="clr-col-12 clr-col-lg-3">Password</label>
                <input clrPassword class="clr-col-12 clr-col-lg-5"  type="text" formControlName="password" />
                <clr-control-helper>New Password</clr-control-helper>
                <clr-control-error *ngIf="password.errors && password.errors.required">
                    Password is Required
                </clr-control-error>
                <clr-control-error *ngIf="password.errors && password.errors.passwordStrength">
                    Password must be 8 characters and contain uppercase, lowercase and numeric characters
                </clr-control-error>
            </clr-password-container>
        
            <clr-password-container class="clr-justify-content-center">
                <label class="clr-col-12 clr-col-lg-3">Confirm Password</label>
                <input clrPassword class="clr-col-12 clr-col-lg-5"  type="text" formControlName="confirm" />
                <clr-control-helper>Confirm Password</clr-control-helper>
                <clr-control-error *ngIf="confirm.errors && confirm.errors.required">
                    Confirm Password is Required
                </clr-control-error>
                <clr-control-error *ngIf="confirm.errors && confirm.errors.mustMatch">
                    Passwords must match
                </clr-control-error>
            </clr-password-container>
            
            <clr-alert *ngIf="errorMessage" [clrAlertType]="'danger'">
                <clr-alert-item>
                    <span class="alert-text">{{errorMessage}}</span>
                </clr-alert-item>
            </clr-alert>
    
            <clr-alert *ngIf="successMessage" 
                [clrAlertType]="'success'"
                [clrAlertClosable]="false">
                <clr-alert-item>
                    <span class="alert-text">{{successMessage}}</span>
                </clr-alert-item>
            </clr-alert>

            <div *ngIf="!successMessage" class="clr-row clr-justify-content-end">
                <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">Submit</button>
            </div>

            <div *ngIf="successMessage" class="clr-row clr-justify-content-end">
                <button type="button" class="btn btn-primary" routerLink="/guild">Return</button>
            </div>
        </form>

        
    </div>

</div>