<div class="clr-row">
    <div class="clr-offset-lg-4 clr-col-lg-4 clr-offset-md-3 clr-col-md-6 clr-col-12">
        <h3>User Preferences</h3>
        <div class="card">
            <div class="card-header" style="display: flex; flex-direction:row">
                Guild Membership
            </div>

            <div class="card-body">
                <clr-datagrid style="margin: .25rem;">
                    <clr-dg-column>Guild Name</clr-dg-column>
                    <clr-dg-column>Display Name</clr-dg-column>
                    <clr-dg-column>Guild Owner</clr-dg-column>

                    <clr-dg-placeholder>You do not currently belong to any guilds</clr-dg-placeholder>

                    <clr-dg-row *clrDgItems="let guildMember of guildMembership$ | async; let i = index;"
                        [attr.data-index]="i">
                        <clr-dg-action-overflow>
                            <button class="action-item" (click)="onChangeDisplayName(guildMember)">Change Display
                                Name</button>
                            <button class="action-item" (click)="onLeaveGuild(guildMember)">Leave Guild</button>
                        </clr-dg-action-overflow>

                        <!-- <clr-dg-cell>
                            <button *ngIf="editIndex !== i" class="btn btn-sm btn-icon" (click)="edit(guildMember, i)">
                                <clr-icon shape="pencil"></clr-icon>
                            </button>
                            <ng-container *ngIf="editIndex === i">
                                <button *ngIf="!isLoading" class="btn btn-sm btn-icon" style="margin-right: .25rem" (click)="save(guildMember, i)">
                                    <clr-icon shape="floppy"></clr-icon>
                                </button>
                                <button *ngIf="!isLoading" class="btn btn-sm btn-icon" (click)="cancel(guildMember, i)">
                                    <clr-icon shape="times"></clr-icon>
                                </button>
                                
                                <span *ngIf="isLoading" class="spinner spinner-inverse spinner-inline">
                                    Saving...
                                </span>
                                <span *ngIf="isLoading">Saving...</span>

                            </ng-container>
                        </clr-dg-cell> -->

                        <clr-dg-cell>{{guildMember.guildName}}</clr-dg-cell>
                        <!-- <clr-dg-cell *ngIf="editIndex === i">
                            <clr-input-container>
                                <input clrInput type="text" [formControl]="editControl" name="guildName" required />
                                <clr-control-error>Display Name is Required</clr-control-error>
                            </clr-input-container>
                        </clr-dg-cell> -->
                        <clr-dg-cell>{{guildMember.displayName}}</clr-dg-cell>
                        <clr-dg-cell>{{guildMember.isOwner ? 'Yes' : ''}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
            </div>
        </div>
        <div class="card">
            <div class="card-header" style="display: flex; flex-direction:row">
                API Token
            </div>
            <div class="card-body token-body">
                <button class="btn token-btn" [ngClass]="isTokenRevealed ? 'btn-outline' : 'btn-primary'" (click)="isTokenRevealed = !isTokenRevealed">
                    {{isTokenRevealed ? 'Close' : 'Reveal'}}
                </button>
                <div class="token-content" *ngIf="isTokenRevealed">
                    {{token}}
                </div>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="showChangeDisplayNameModal">
    <h3 class="modal-title">Change Display Name</h3>
    <div class="modal-body">
        <form class="clr-form clr-form-horizontal" #changeDisplayNameForm="ngForm">
            <clr-input-container>
                <label>Display Name</label>
                <input clrInput type="text" [(ngModel)]="displayNameForRename" name="displayName" required />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelChangeDisplayName()">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="!changeDisplayNameForm.form.valid"
            (click)="submitChangeDisplayNameForm()">Ok</button>
    </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="showLeaveGuildModal">
    <h3 class="modal-title">Leave Guild</h3>
    <div class="modal-body">
        <p>Are you sure you wish to leave this guild?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="cancelLeaveGuild()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="leaveGuildConfirmed()">Ok</button>
    </div>
</clr-modal>