.icon {
    display: flex;
    flex-flow: row nowrap;
    color: rgb(187, 187, 187);
    font-size: 13px;
    height: 44px;
    width: 44px;
}

.icon.large {
    height: 68px;
    width: 68px;
}


.icon ins {
    height: 36px;
    width: 36px;
    text-decoration: rgb(187, 187, 187) underline solid;
    box-sizing: border-box;
    flex: none;
    z-index: 5;
}

.icon del {
    height: 44px;
    width: 44px;
    background-image: url(https://wow.zamimg.com/images/Icon/medium/border/default.png);
    background-repeat: no-repeat;
    z-index: 10;
    box-sizing: border-box;
    flex: none;
    margin-left: calc(-100% + 4px);
    margin-top: -4px;
}

.icon a {
 width: 38px;
 height: 38px;
 background: url(https://wow.zamimg.com/images/Icon/medium/hilite/default.png) no-repeat 38px 0;
 z-index: 15;
 box-sizing: border-box;
 flex: none;
 margin-left: calc(-100% + 3px);
 margin-top: -3px;
}

.icon a:hover {
    background-position: 0 3px;
}

.icon.large ins {
    height: 56px;
    width: 56px;
}

.icon.large del {
    height: 68px;
    width: 68px;
    background-image: url(https://wow.zamimg.com/images/Icon/large/border/default.png);
    margin-left: calc(-100% + 6px);
    margin-top: -6px;
}

.icon.large a {
    width: 62px;
    height: 62px;
    background: url(https://wow.zamimg.com/images/Icon/large/hilite/default.png) no-repeat 62px 0;    
    margin-left: calc(-100% + 3px);
    margin-top: -3px;
   }

.icon.icon.large a:hover {
    background-position: 0 1px;
}

.quantity {
    font-size: 14px;
    font-weight: bold;
    color:  #fff;
    z-index: 15;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}